<form>
  <!-- Search -->
  <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" (click)="getFirst('')">Lista de Pokémons</a>
      <form class="form-inline" (ngSubmit)="getByName(input.value)">
        <input #input class="form-control mr-sm-2" type="search" placeholder="Pesquisar por nome" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </nav>

  <!-- Tabble -->
  <div class="form-group">
      <section class="mt-5">
        <div class="container">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="thead-light text-center">
                <tr>
                  <th>Favoritos</th>
                  <th>Pokémon</th>
                  <th>Detalhes</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let pokemon of pokemons">
                  <td class="text-center">
                    <img (click)="fav(pokemon.name)" *ngIf="!isFav(pokemon.name)" src="/assets/img/baseline-favorite_border-24px.svg"/>
                    <img (click)="fav(pokemon.name)" *ngIf="isFav(pokemon.name)" src="/assets/img/baseline-favorite-24px.svg"/>
                  </td>
                  <td class="text-center">
                    {{pokemon.name}}
                  </td>
                  <td class="text-center">
                    <button id="modalButton" (click)="getByUrl(pokemon.url)" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal">
                      Visualizar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="title"  style='text-transform:uppercase' >{{pokemon && pokemon.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div *ngIf="pokemon" class="modal-body">
            <div class="row">
              <div class="col-3">
                <img src="{{this.img}}" class="rounded float-left">
              </div>
              <div class="col">
                  <label for="pokemon-name" class="col-form-label">Nome:</label>
                  <input type="text" class="form-control" [(ngModel)]="pokemon && pokemon.name" id="pokemon-name" name="pokemon-name" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="pokemon-weight" class="col-form-label">Peso:</label>
                <input type="text" class="form-control" [(ngModel)]="pokemon && pokemon.weight" id="pokemon-weight" name="pokemon-weight" disabled>
              </div>
              <div class="col">
                <label for="pokemon-height" class="col-form-label">Altura:</label>
                <input type="text" class="form-control" [(ngModel)]="pokemon && pokemon.height" id="pokemon-height" name="pokemon-height" disabled>
              </div>
              <div class="col">
                  <label for="pokemon-xp" class="col-form-label">Experiência:</label>
                  <input type="text" class="form-control" [(ngModel)]="pokemon['base_experience']" id="pokemon-xp" name="pokemon-xp" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="pokemon-weight" class="col-form-label">Tipo:</label>
                <ul class="list-group">
                    <div *ngFor="let type of this.types">
                      <li class="list-group-item" id="pokemon-type" name="pokemon-type" disabled>{{type}}</li>
                    </div>
                </ul>
              </div>
              <div class="col">
                <label for="pokemon-weight" class="col-form-label">Habilidades:</label>
                <ul class="list-group">
                    <div *ngFor="let ability of this.abilities">
                      <li class="list-group-item" id="pokemon-type" name="pokemon-type" disabled>{{ability}}</li>
                    </div>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a (click)="previousPage(previousUrl)" class="page-link">Anterior</a>
        </li>
        <li class="page-item">
          <a (click)="nextPage(nextUrl)" class="page-link">Próximo</a>
        </li>
      </ul>
    </nav>

  </div>
</form>
