<form>
  <div class="form-group">
      <section class="mt-5">
          <div class="container">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead class="thead-light text-center">
                  <tr>
                    <th>Pokémon</th>
      
                    <th class="w-50">URL</th>

                  </tr>
                </thead>
      
                <tbody>
                  <tr *ngFor="let pokemon of pokemons.results">
                    <td class="text-center w-25">{{pokemon.name}}</td>
      
                    <td>{{pokemon.url}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
  </div>
</form>
